/* style of the first section */
.section-introduce{
    border: 2px solid rgb(10, 30, 38);
    background-color: rgb(10, 30, 38);
    padding: 30px;
}

.section-introduce .row{
    display: flex;
    justify-content: center;
}

.section-introduce .col{
    padding: 8px;
}

.section-introduce h1{
    font-size: 3em;
    color: rgb(12, 126, 171);
}

.section-introduce p{
    font-size: 1.1em;
    color: #fff;
}

/* style of the second section */
.section-projects h1{
    text-align: center;
}

.section-projects .row{
    display: flex;
    justify-content: center;
}

.section-projects .col{
    padding: 5px;
}

/* style of the third section */
.section-form{
    border: 2px solid rgb(10, 30, 38);
    background-color: rgb(10, 30, 38);
    padding: 30px;
}

.section-form h1{
    text-align: center;
    color: rgb(12, 126, 171);
}

.section-form .row{
    display: flex;
    justify-content: center;
}

.section-form .col{
    padding: 5px;
}

.section-form label{
    color: #fff;
}

.section-form input, textarea{
    outline: none;
}

.section-form input{
    width: 500px;
}

.section-form input:focus{
    border: 3px solid rgb(12, 126, 171);
}

.section-form textarea:focus{
    border: 3px solid rgb(12, 126, 171);
}

.section-form textarea{
    width: 1020px;
}

/* responsive design */
@media screen and (max-width: 797px) {
    /* first section */
    .section-introduce .row{
        flex-direction: column;
        align-items: center;
    }

    .section-introduce .col{
        margin: 8px;
    }

    .section-introduce img{
        width: 350px;
    }

    /* second section */
    .section-projects .row{
        flex-direction: column;
        align-items: center;
    }

    .section-projects .col{
        margin: 8px;
    }

    /* third section */
    .section-form .row{
        flex-direction: column;
        align-items: center;
    }

    .section-form .col{
        margin: 8px;
    }

    .section-form input{
        width: 300px;
    }

    .section-form textarea{
        width: 300px;
    }
}