/* first section */

.section-title{
    border: 2px solid rgb(49, 9, 91);
    background-color: rgb(49, 9, 91);
}

.section-title h1{
    color: rgb(115, 25, 211);
    margin-left: 100px;
    font-size: 3em;
}

/* second section */

.section-landscape h1{
    text-align: center;
}

.section-landscape .row{
    display: flex;
    justify-content: center;
}

.section-landscape .col{
    padding: 5px;
}

.section-landscape a{
    position: relative;
    text-decoration: none;
}

.section-landscape .photo-hover{
    margin-top: -185px;
}

.section-landscape a:hover .photo-hover{
    display: flex;
}


/* third and last section */

.section-portrait h1{
    text-align: center;
}

.section-portrait .row{
    display: flex;
    justify-content: center;
}

.section-portrait .col{
    padding: 5px;
}

.section-portrait a{
    position: relative;
    text-decoration: none;
}

.section-portrait .photo-hover{
    margin-top: -435px;
}

.section-portrait a:hover .photo-hover{
    display: flex;
}